application/config/database.php
application/config/config.php
application/NetBeansAutoComplite.php
public_html/images/recipes/*
public_html/images/steps/*
public_html/images/*.db
public_html/photos/*
logs
public_html/images/*.db
public_html/images/buttons/*.db
public_html/images/gradients/*.db
public_html/images/icons/*.db
public_html/images/site/*.db
Thumbs.db
.project
.buildpath
.settings
.idea
*.ppj
*.ppx
*.tmproj